version: '3.4'

services:
    php:
        image: brizy-sylius-test
        depends_on:
            - mysql
        environment:
            - APP_ENV=prod
            - APP_DEBUG=1
            - APP_SECRET=EDITME
            - DATABASE_URL=mysql://sylius:nopassword@mysql/sylius
            - PHP_DATE_TIMEZONE=${PHP_DATE_TIMEZONE:-UTC}
        restart: unless-stopped

    mysql:
        image: percona:5.7
        environment:
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-nopassword}
            - MYSQL_DATABASE=sylius
            - MYSQL_USER=sylius
            - MYSQL_PASSWORD=${MYSQL_PASSWORD:-nopassword}
        volumes:
            - mysql-data:/var/lib/mysql:rw
        restart: unless-stopped

#    nginx:
#        image: public.ecr.aws/n7j9k3k1/sylius-nginx
#        depends_on:
#            - php
#        restart: unless-stopped

volumes:
    mysql-data:
